{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>Latest Snippets</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>ID</th>
            </tr>
            {{range .Snippets}}
            <tr>
                <!-- we usd clean url here, the server is able to recognize the key through template such as {{.ID}} to be ID-->
                <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        {{if .IsAuthenticated}}
            <p>Click <a href='/snippet/create/'>Create snippet</a> to create your first snippet ʕ •ᴥ•ʔ </p>
        {{else}}
            <p>Please <a href='/user/signup/'>Sign Up</a> or <a href='/user/login/'>log In</a> first ʕ •ᴥ•ʔ </p>
        {{end}}
    {{end}}
{{end}}
